.wournal-color-picker input[type="text"]{
    display: inline-block;
}

.wournal-color-picker input[type="text"]{
    font-family: Roboto Mono;
    width: 7ch;
    margin-left: 5px;
    text-transform: uppercase;
}

.wournal-color-picker-color {
    border: 1px solid black;
    vertical-align: top;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.wournal-color-picker input[type="color"]{
    opacity: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background: none;
}
