button.ToolbarButton {
    background: white;
    margin: 3px 0px;
    border: none;
    vertical-align: middle;
    height: 40px;
}

button.ToolbarButton > .ToolbarButtonColor {
    height: 18px;
    width: 18px;
    border: 1px solid black;
}

button.ToolbarButton:first-child {
    margin-left: 3px;
}

button.ToolbarButton:hover {
    background: #efefef;
}

button.ToolbarButton:active:not(:disabled) {
    background: lightblue;
}

button.ToolbarButton:disabled {
    opacity: 0.4;
}

button.ToolbarButton.active {
    border-bottom: 3px solid lightblue !important;
    border-top: 3px solid white !important;
}

button.ToolbarButton > img {
    text-align: center;
    /* center the img even if the containing element is too small for it. see
    https://stackoverflow.com/questions/1344169/ */
    margin: 0 -999% 0 -999%;
}
