.Menu {
    position: fixed;
    margin: 55px 0px 0px 5px;
    z-index: 9999;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

/**
 * ----------------------------------------------------------------------
 * `MenuItem`s. These are defined here because the styling also applies to
 * `SubMenu`s
 * ----------------------------------------------------------------------
 */

.MenuItem {
    min-width: 150px;
    background: white;
}

.MenuItem button {
    background: white;
    border: none;
    border-bottom: 1px solid black;
    vertical-align: middle;
    width: 100%;
    height: 30px;
    text-align: left;
}

.MenuItem.active button {
    background: lightblue;
}

.MenuItem button:hover {
    background: #efefef;
}

.MenuItem button:active:not(:disabled) {
    background: lightblue;
}

.MenuItem button:disabled {
    opacity: 0.4;
}

.MenuItem button .mark {
    display: inline-block;
    width: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

.MenuItem button .text {
}

.MenuItem button .right {
    float: right;
}
