.select-container .select-option {
    display: block;
    height: 27px;
    border-bottom: 1px solid #e4e4e4;
    cursor: default;
}

.select-text-option {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 24px;
}

.select-container .select-option * {
    cursor: default;
}

.select-container .select-option:last-child {
    border-bottom: none;
}

.select-container .select-option:hover {
    background-color: #d9d9d9;
}
