.wournal-app .select-container {
    font-size: 10pt;
    display: inline-block;
    position: relative;
    border: 1px solid black;
    border-radius: 3px;
    overflow: hidden; /* needed for clipping border-radius */
}

.select-container .selected-text {
    padding-right: 30px;
    cursor: default;
}

.select-container .selected-text.active {
    background: #e1e1e1;
}

.select-container .selected-text .select-right-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}


.select-container .select-options {
  position: fixed;
  z-index: 5;
  margin: 5px 0px;
  padding: 0;
  border: 1px solid #a4a4a4;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: white;
  overflow: hidden;
}
