.Snackbar {
    --snackbar-bg-color: #444444;
    --snackbar-fg-color: white;
}

.Snackbar {
    max-width: 70%;
    filter: drop-shadow(0 0 2px black);
    position: fixed;
    z-index: 9999;
    bottom: 10px;
    right: 25px;
    padding: 10px;

    background: var(--snackbar-bg-color);
    color: var(--snackbar-fg-color);
    border: 1px solid var(--snackbar-bg-color);
    border-radius: 5px;
}

.Snackbar > .SnackbarText > span {
    font-size: 10pt;
    vertical-align: middle;
}

.Snackbar > .SnackbarClose {
    margin-left: 5px;
    margin-top: 2px;
    background: var(--snackbar-bg-color);
    color: var(--snackbar-fg-color);
    border: none;

    float: right;
}
