@media only screen and (min-width: 1000px) {
    .wournal-settings {
        display: flex;
        width: 650px;
    }
}

@media only screen and (max-width: 1000px) {
    .wournal-settings {
        width: 100%;
    }
}

.wournal-settings .wournal-collapsible {
    width: 300px;
}
